body {
  background-color: rgb(191, 190, 188);
}
.container {
  display: flex;
  justify-content: space-around;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 112px);
  grid-template-rows:repeat(3, 112px);
  grid-gap: 0px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 254, 254);
  list-style: none;
  border:1px solid black;
}
.turn-notification {
  text-align: center;
}
p   {
  font-size: 22px;
}
.start {
  align-items: center;
}